@{
    ViewData["Title"] = "Home Page";
}

<!--Profile Section-->
<section class="hero d-flex flex-column justify-content-center align-items-center" id="intro">

    <div class="container">
        <div class="row">

            <div class="mx-auto col-lg-5 col-md-5 col-10">
                <img src="~/images/justin_profile.png" class="img-fluid" alt="Justin Portfolio HTML Template">
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center col-lg-7 col-md-7 col-12">
                <div class="hero-text">

                    <h1 class="hero-title">Justin Flory - Software Developer</h1>

                    <a href="mailto:jus.flory500@gmail.com" class="email-link">
                        jus.flory500@gmail.com
                    </a>

                </div>
            </div>

        </div>
    </div>
</section>

<!--About Section-->
<section class="about section-padding" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="fw-bold mb-4">About Me</h3>

                <p>
                    My name is Justin Flory and I am a results-driven .NET Developer with strong interpersonal skills and a growth mindset.
                    I have worked on multiple large-scale, high-impact web applications in my career and would be an asset to any software 
                    development team.
                </p>

                <p>I was born in Beloit, WI and graduated magna cum laude from Northern Illinois University with a B.S. in Computer Science, emphasizing in software development.</p>

            </div>
        </div>
    </div>
</section>

<!--Skills Section-->
<section class="about section-padding" id="skills">
    <div class="container">
        <div class="row">

            <div class="row col-lg-12 col-md-12 col-12">
                <h3 class="fw-bold mb-4">Skills</h3>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h6 class="fw-bold mx-2">Languages</h6><br />
                    <p class="mx-2">
                        C#, Javascript, HTML, CSS,
                        C++, JQuery
                    </p>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h6 class="fw-bold mx-2">Database Systems</h6><br />
                    <p class="mx-2">
                        SQL Server, MySQL
                    </p>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h6 class="fw-bold mx-2">Frameworks</h6><br />
                    <p class="mx-2">
                        ASP.NET 4.x, .NET Core
                    </p>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h6 class="fw-bold mx-2">Other Proficiencies</h6><br />
                    <p class="mx-2">
                        Visual Studio IDE,
                        Microsoft DevOps, Microsoft Dynamics
                        CRM, SSRS, Azure, Entra ID, Bootstrap
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<!--References Section-->
<section class="about section-padding" id="references">
    <div class="container">
        <div class="row">

            <div class="row col-lg-12 col-md-12 col-12">
                <h3 class="fw-bold mb-4">References</h3>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <p>
                        <span class="fw-bold">"</span>
                        Reference text goes here
                        <span class="fw-bold">"</span>
                    </p>
                    <span class="fw-bold">- Jennifer Mueller</span>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <p>
                        <span class="fw-bold">"</span>
                        Reference text goes here
                        <span class="fw-bold">"</span>
                    </p>
                    <span class="fw-bold">- Cindy Case</span>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <p>
                        <span class="fw-bold">"</span>
                        Reference text goes here
                        <span class="fw-bold">"</span>
                    </p>
                    <span class="fw-bold">- Steve Trinkner, DBA, Wisconsin Hospital Association Information Center</span>
                </div>
            </div>

        </div>
    </div>
</section>
